{%
  set card_classes = [
    'card',
    variant and variant != 'default' ? 'card--' ~ variant,
    modifier_class
  ]
%}

<a{{ attributes.addClass(card_classes) }} href="{{ card_link }}">
  <div class="card__content">
    <div class="card__title">
      <span>{{ card_title }}</span>
    </div>

    <div class="card__tags">
      {{ card_tags }}
    </div>

    <div class="card__summary">
      {{ card_summary }}
    </div>
  </div>

  {% if card_image %}
    <div class="card__image">
      {{ card_image }}
    </div>
  {% endif %}
</a>
