
{%
  set content_row_classes = [
    'content-row',
    variant and variant != 'default' ? 'content-row--' ~ variant,
    modifier_class
  ]
%}


<div{{ attributes.addClass(content_row_classes) }}>
  <div class="content-row__inner container">
    <div class="row">
      <div class="content-row__col col col--6">
        {{ paragraph_content }}
      </div>

      <div class="content-row__col col col--6">
        {{ paragraph_figure }}
      </div>
    </div>
    {# <div class="content-row__col">
      {{ content }}
    </div> #}

    {# {{ content }} #}
  </div>
</div>

