
{%
  set classes = [
    'block',
  ]
%}

{% if attributes is not empty %}
<div{{ attributes.addClass(classes) }}>
{% endif %}

{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}
{% block content %}
  {{ include ('academica:banner', {
    title: content.field_title,
    text: content.field_text,
    image: content.field_image,
    variant: content['#block_content'].field_banner_type.0.value,
  }) }}
{% endblock %}

{% if attributes is not empty %}
</div>
{% endif %}
