<div class="page page--fullwidth">

  <header role="banner">
    {{ page.top_menu }}
    {{ page.header }}
  </header>

    <div class="container container--full">
      {{ page.main_menu }}
      {{ page.banner }}
    </div>

    <div class="container">
      {{ page.highlighted }}

      {{ page.admin_tasks }}

      {{ page.breadcrumb }}

      {{ page.content_top }}
    </div>

    <main role="main" class="main-content" id="main-content">
      <a id="main-content-skip" tabindex="-1"></a>{# link is in html.html.twig #}


      <div class="container container--full">
      {# no sidebars in full width page #}
        <div>
          {{ page.page_title }}
        </div>

        <div>
          {{ page.content }}
        </div>
      </div>

      {% if page.content_bottom %}
        <div class="container">
          <div class="row row--center row--align-center">
            {{ page.content_bottom }}
          </div>
        </div>
      {% endif %}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.page #}
